/*公共样式*/
/*块级元素能指定 宽、和高，独占一行  比如 h1~h6、p、div、ul、table*/
/*行内元素不会独占一行，设置宽高行距等不会起效。  比如 span、a、input、select*/
/*float:left 会默认变成块级元素 ， 谁想浮起来 谁就float*/
/*ul 可以指定 position:relavite  和 absorlote  但是  li不能指定absorlote  ，否则 所有的li 都重叠到一起*/

body{
    font-size:12px;
    color:#333 ;
}
body a{
    text-decoration:none;/*去除连接下划线*/
}
body li {
    list-style:none;/*去掉 li的小点*/
}
.container{
    width: 1206px;
    margin-left:auto; /*居中*/
    margin-right: auto; /*居中*/
}


/*顶部代码*/
.page-top {
    height: 38px;
    background-color:#323232 ;
}

.page-top .top-lt{
    color:#a2a2a2 ;
    line-height: 38px;
    float:left; /*左边浮动*/
}

.page-top .top-lt span{
    color:#3f3f3f ;
}

.page-top .top-lt a{
    color:#a2a2a2 ;
    padding:0 2px ; /*内边距加大*/
    display: inline-block;
}

.page-top .top-lt a:hover{
    color:#fff ;
}

/*对于二维码来说，父级relative，子级absolute  浏览器变化，父级变化，子级相对父级变化*/
.page-top .top-lt .download{
     position:relative;
 }

/*当鼠标指向class download ，down-box 显示二维码*/
.page-top .top-lt .download:hover .down-box{
    display: block;
}

.page-top .top-lt .download:hover i{
    color: #323232;
}

/*二维码盒子*/
.page-top .top-lt .down-box{
    width:126px;
    background-color: #fff;
    position: absolute;
    top: 38px ;
    padding-top: 20px;
    left:50%;
    margin-left: -63px;
  /*  box-shadow: rgba(170,170,170) 0px 1px 5px; !*阴影*!*/
    text-align: center; /*文字水平居中*/
    display: none; /*默认消失，指针指上去显示*/
 }
.page-top .top-lt .down-box b{
    width: 20px;
    height: 13px;
    position: absolute;
    top:-13px;
    left:50%;
    margin-left: -10px;
    background-image: url("../img/a.png");

}

.page-top .top-lt a.download i{
    font-stretch: normal;
    color: #323232;
}

.page-top .top-lt .down-box img{
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

/*右侧*/
.page-top .top-gt {
    float:right ;
    color:#a2a2a2 ;
    line-height: 38px;
}
.page-top .top-gt .login {
    color: #a2a2a2;
    padding:0 2px ; /*内边距加大*/
    display: inline-block;
}
.page-top .top-gt .user{
    padding:0 2px ; /*内边距加大*/
    display: inline-block;
}
.page-top .top-gt  span{
    padding:0 2px ; /*内边距加大*/
    display: inline-block;
    color: #3f3f3f;
}

.page-top .userinfo{
    float:right;
    margin-right: 20px;
}
.page-top .userinfo .user{
    width: 120px;
    display: inline-block;
    position: relative;
}
.page-top .userinfo a {
    color: #a2a2a2;
}
/*.page-top .userinfo a:hover {
    color: #fff;
}*/

.page-top .userinfo .user ul{
    width: 120px;
    position:absolute ;
    left: 0;
    margin:0px auto;
    padding: 10px 0; /*上下间隔10像素*/
 /*   box-shadow: rgba(170,170,170) 0px 1px 5px; !*阴影*!*/
    display: none;
}

.page-top .userinfo  li{
    line-height: 30px;  /*行高*/
    text-align: center; /*文字水平居中*/
}
.page-top .userinfo  li a {
    display: block; /*使得a变成块元素，鼠标指向a时候，hover也生效*/
}

.page-top .userinfo li:hover{
    background-color:#f5f5f5 ;
    color: #ff6700;
}

.page-top .userinfo .user:hover{
    background-color: #f5f5f5;
    color: #ff6700;
}

/*当user hover的时候 tit文字变化*/
.page-top .userinfo .user:hover .tit{
    color: #ff6700;
}
/*当user hover的时候 子级要display block*/
.page-top .userinfo .user:hover ul{
    display: block;
}
/*购物车*/
.page-top .top-gt .car-box{
    width: 118px;
    background-color: #424242;
    float:right;
    height: 38px;
    position: relative;
}

.page-top .top-gt .car-box .tit{
    text-align: center; /*水平居中*/
}
.page-top .car-box .tit img{
    width: 20px;
    height: 20px;
    vertical-align: middle; /*垂直居中*/
}
.page-top .car-box .tit a {
    color: #a2a2a2;
}
.page-top .car-box .pop{
    width: 276px;
    height: 58px;
    padding: 20px 0;
    position: absolute;
    margin-left: -158px;
    text-align: center;
    display: none;
    background-color: #fff;
    z-index: 1000;
/*    box-shadow: rgba(170,170,170) 0px 1px 5px; !*阴影*!*/
}
.page-top .car-box:hover {
    background-color: #fff;
}

.page-top .car-box:hover  a{
    color: red;
}
.page-top .car-box:hover img{
    width: 20px;
    height: 20px;
    vertical-align: middle; /*垂直居中*/
}
.page-top .car-box:hover .pop{
     display: block;
 }



/*导航栏*/
.page-header {
    height:100px;
    background-color: #eee;
}
.page-header .logo{
    width: 55px;
    height: 55px;
    float: left;
    margin-top:22px;
    margin-right: 25px;
    position: relative;
}

.page-header .nav-list{
    height: 88px;
    float: left;
    list-style-type: none;
    font-size: 16px;
    position:relative;
    padding: 12px 0 0 30px;
    margin-left: 16px;
}

.page-header .nav-list .nav-item{
    float:left ;
    padding : 10px 10px ;
}
/*导航栏颜色*/
.page-header .nav-list .nav-item a {
    color: #3f3f3f;
}
.page-header .nav-list .nav-item .name {
    color: #fff;
}


.page-header .nav-list .silder {
    height: 460px;
    width: 235px;
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 100px;
    left: -95px;
    z-index: 21;
    font-size: 14px;
}
/*ul一定要加 margin0, 和padding 0*/
.page-header .nav-list .silder-nav-list{
    margin: 0;
    padding: 0;
}
.page-header .nav-list .silder-nav-item {
   padding: 5px 10px;
}

.page-header .nav-list .silder-nav-item:hover{
    background-color: #ff6700;
}
.page-header .nav-list .silder-nav-item:hover .pop{
    display: block;
}

.page-header .nav-list .silder-nav-item .arr {
    float: right;
}



.page-header .nav-list .silder-nav-item .pop{
    display: none;
    position: absolute;
    left: 234px;
    top: 0px;
    height: 458px;
    width: 992px;
    border-left: 0;
    box-shadow:0 8px 16px rgba(0,0,0,.18);
    background-color: #fff;
    z-index: 1000;
}

.page-header .nav-list .silder-nav-item .pop .pop-item{
     float: left;
     /*  position: absolute;*/
     padding: 10px 15px;

 }
.page-header .nav-list .silder-nav-item .pop .pop-item{
    float: left;
    /*  position: absolute;*/
    padding: 10px 15px;

}

.page-header .nav-list .silder-nav-item .pop .pop-item img{
    width: 40px;
    height: 40px;
    margin-right: 16px;
}



/*搜索*/
.page-header .search{
    width:280px;
    float: right;
    margin-top: 24px;
    position: relative;
}
.page-header .search input{
    border:1px solid red;
    height: 50px;
}
.page-header .search .inpt{
    width: 220px;
    height: 46px;
    border: 1px solid #ff6700;
    outline: none;
    line-height: 48px;
    padding-left: 4px;
    float: left;
}
.page-header .search .btn{
    width: 50px;
    height: 50px;
    border: 1px solid #ff6700;
    float: left;
    cursor: pointer;
    background: #fff url(../img/search.png) center center no-repeat;
    background-size: 16px 16px;
    margin-left: -2px;
}
/*搜索热门条*/
.page-header .search .hot{ /*.active 使用js来控制*/
/*    border: 1px solid #ff6700;*/
    display: none;
    float:left;
    width: 220px;
    background-color: white;
    top:50px;
    position: absolute;
    /*ul中的li有偏右的现象，并且影响ul设置的宽高的情况， 所以一定要margin 0 pading 0*/
    margin:0;
    padding:0;
  }
.page-header .search .hot li{
    color: #3f3f3f;
    list-style:none;
    padding: 10px 0 ;
    text-align: center;
}
.page-header .search .active{
    display: block;
}

.page-header .search .hot li:hover {
    background-color: #f5f5f5;
}

.page-banner {
    height: 460px;
    position: relative;
    background-image: url("../img/banner1.png");
    z-index: -1;
}


.page-adv {
    height: 200px;
    position:  relative;
    margin-top: 14px;
}
.page-adv .adv{
    width: 310px;
    height: 170px;
    float: left;
    z-index: 1000;
    margin-left: 12px;
}
.page-adv .adv:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.page-adv .box{
    width: 234px;
    height: 170px;
    background-color: rgba(0,0,0,0.6);
    float: left;
    font-size: 12px;
    margin:0px;
    padding: 1px;
    color: #fff;
    }

.page-adv .adv1{
    background-image: url("../img/adv1.PNG");
}
.page-adv .adv2{
    background-image: url("../img/adv2.PNG");
}
.page-adv .adv3{
    background-image: url("../img/adv3.PNG");
}


.page-adv .box li{
    width: 77px;
    height: 65px;
    float: left;
    margin-top: 20px;
    text-align: center;
    opacity: 0.7; /*默认亮度为灰暗*/
    display: block; /*li标签内的所有元素视为一个整体*/
}

.page-adv .box li img{
    width: 24px;
    height: 24px;
    margin: 0 22px 4px ;
}
.page-adv .box li a{
    color: #fff;
}
.page-adv .box li:hover{
    opacity: 1;/*亮度为正常*/
}

/*product*/
.page-product {
    position: relative;
}

.page-product .top{
    height: 58px;
}

.page-product .top h2{
    float:left ;
}
.page-product .top a{
    float:right ;
    margin-top: 14px;
}

.page-product .row{
    height: 614px;
    position: absolute;
    top:58px ;
}

.page-product .row .row-left{
    float: left;
    width: 234px;
    height: 610px;
}
.page-product .row .row-left img{

}

.page-product .row .row-right {
    float: left;
    width: 960px;
    height: 628px;
    position: relative;
}

.page-product .row .row-right .item{
    float: left;
    width: 226px;
    height: 260px;
    padding: 20px 0;
    margin-left: 14px;
    text-align: center;
}

.page-product .row .row-right .item h3{
     margin-top: -5px;
 }
.page-product .row .row-right .item p{
    margin-top: -10px;
    color: #a2a2a2;
}
.page-product .row .row-right .item span{
    font-size: 12px;
    color: red;
}


.page-product .row .row-right .item:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}































